body {
  display: table;
}
.level1, .level2, .level3 {
  margin: 15px;
  padding: 15px;
  border: thick solid black;
  background-color: white;
}
.level1 {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.level2 {
  display: inline-block;
}
.selected {
  background-color: grey;
}
