/* Kapitel 3 */
#for-loop-grades {
  #grade {
    margin-left: 20px;
  }
}

#while-loop {
  div {
    min-height: 80px;
    float: left;
    padding: 5px;
  }
  ul {
    list-style: none;
    border: thin solid #CCCCCC;
    min-height: 80px;
    width: 200px;
    float: left;
    padding: 5px;
    margin: 5px;
  }
}