body {
    font-family: sans-serif;
    font-size: 0.8rem;
}
.container {
    display: table;
    float: left;
}
.row {
    display: table-row;
}
label, input {
    margin: 5px;
}
label, input, button {
    display: table-cell;
}
.container, #map-canvas, #map-directions {
    margin: 20px;
    padding: 0;
}
#map-directions {
    font-size: 0.7rem;
    overflow: scroll;
}
#map-canvas, #map-directions {
    border: thin solid #999999;
    float: left;
    height: 250px;
    width: 250px;
}