body {
    font-family: sans-serif;
    font-size: 0.8rem;
}
ul {
    list-style: none;
}
#target {
    background-color: #EFEFEF;
    border: thin solid #999999;
    width: 700px;
    min-height: 200px;
    padding: 0.5em;
}