body {
    font-family: sans-serif;
    font-size: 0.8rem;
}
.target {
    float: left;
    width: 430px;
    border: dashed 4px #888;
    padding: 10px;
    min-height: 50px;
    margin: 10px;
    position: relative;
}
.target .name {

}
.target.dragover {
    border: solid 4px #F00;
    background-color: #FBB;
}

.target.names.dragover {
    border: solid 4px #00F;
    background-color: #BBF;
}
.target.foods.dragover {
    border: solid 4px #0F0;
    background-color: #BFB;
}


.indicator {
    position: absolute;
    background-color: #BBF;
    width: 100px;
    padding: 10px;
    left: -30px;
}

.dropIndicator {
    visibility: hidden;
    background-color: #FBB;
    padding: 10px;
    position: absolute;
    right: 0px;
}

.name.dragging {
    opacity: 0.3;
    border: dotted 1px #00F;
}

.target.images {
    height: 100px;
}

.target.images > img {
    width: 100px;
    float: left;
}
#target {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    min-height: 400px;
    color: #CCCCCC;
}
#target .contact {
    text-align: left;
    font-size: 0.8rem;
    font-weight: normal;
    color: #000000;
}
#contacts {
    float: left;
}
.contact {
    border: thin solid #999999;
    border-radius: 5px;
    height: 80px;
    width: 400px;
    padding: 0.5em;
    margin: 0.5em;
}
.contact-image {
    float: left;
}
.contact-image, .contact-details {
    padding: 0.5em;
}