body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#output {
  width: 80vw;
  height: 40vh;
  border: 1px solid #ccc;
  overflow-y: auto;
  margin: 2rem 0;
}

#input-row {
  display: flex;
  width: 80vw;
}

textarea {
  flex-grow: 1;
  margin-right: 2rem;
}
