body {
    font-family: sans-serif;
    font-size: 0.8rem;
}
.bold {
    font-weight: bold;
}
#battery-status {
    height: 100%;
    width: 100%;
}
.battery-charge {
    background-color: #FFFFFF;
    color: #000000;
}
.battery-no-charge {
    background-color: #000000;
    color: #FFFFFF;
}
#battery-status table {
    text-align: left;
}