body {
    font-family: sans-serif;
    font-size: 0.8rem;
}
ul {
    list-style: none;
}
#progress-bar {
    margin: 10px 0;
    padding: 3px;
    border: 1px solid #000;
    font-size: 14px;
    clear: both;
    opacity: 0;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
}
.button {
    margin-top: 5px;
}
#progress-bar.loading {
    opacity: 1.0;
}
#progress-bar .percent {
    background-color: #99ccff;
    height: auto;
    width: 0;
}