body {
    font-family: sans-serif;
    font-size: 0.8rem;
}

.main {
    border: 1px solid black;
    box-shadow: 10px 10px 5px #888;
    border-radius: 12px;
    padding: 20px;
    background-color: #ddd;
    margin: 25px;
    width: 450px;
    margin-left:auto;
    margin-right:auto;
}

.logo {
    width:275px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 15px;
}

.container {
    -webkit-perspective: 300; perspective: 300;
}